body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(126, 75, 8, 0.662);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgba(196, 228, 255, 0.486);
    padding: 2em;
    border-radius: 2.5em;
    box-shadow: 0 0 0 10px rgba(rgb(27, 24, 24));
    width: 30rem;
}

input {
    width: 80%;
}

h1 {
    display: flex;
    justify-content: center;
}


button{
    border-radius: 0.5em;
    background-color: rgba(126, 75, 8, 0.411);
    cursor: pointer;
    
}

ul{
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 136, 255, 0.569);
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
}